<header>
  <div class="col-12 col-lg-12 cabecalho fixed-top">
      <div class="row">
          <div class="col-9 col-md-4">
            <a href="/">
              <span class="material-icons logo">fastfood</span>
            </a>
            <a class="navbar-brand" href="/">FoodNet</a>
          </div>
          <div class="col-3 col-md-8 d-flex justify-content-end">
              <input type="text" name="" id="" class="input-pesquisar-receita d-none d-md-block" placeholder="pesquise uma receita">
              <button class="mr-4 button-pesquisar-receita d-none d-md-block"><span class="material-icons d-none d-md-block">search</span></button>
              <a href="" class="d-block d-md-none">
                <span class="material-icons-outlined icons-links mt-2" tooltip="Pesquisar receita" placement="bottom">search</span>
              </a>
              <a href="">
              <span class="material-icons-outlined icons-links mt-2" tooltip="Adicionar uma receita" placement="bottom">add_box</span>
            </a>
            <a href="" class="d-none d-md-block">
              <span class="material-icons-outlined icons-links mt-2" tooltip="Visualizar notificações" placement="bottom">notifications</span>
            </a>
            <a href="">
              <span class="material-icons-outlined icons-links mt-2" tooltip="Perfil" placement="bottom">account_circle</span>
            </a>
          </div>
      </div>
  </div>
</header>
