<section class="">
  <footer class="bg-danger text-white text-center text-md-start">
    <div class="container p-5">
      <div class="row">
        <div class="col-12 col-lg-8 col-md-12 mb-4 mb-md-0 mt-4">
          <h3 class="">
            <span class="material-icons logo">
              fastfood
            </span>
            FoodNet
          </h3>
          <p>
            The best Food Recipes site of the world.
          </p>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mb-4 mb-md-0 mt-5">
          <a href="#!" class="text-white link-footer"><span class="material-icons-outlined icon-link-footer">chat_bubble</span>Contact</a>
          <a href="#!" class="text-white link-footer"><span class="material-icons-outlined icon-link-footer">help</span>Help</a>
          <a href="#!" class="text-white link-footer"><span class="material-icons-outlined icon-link-footer">gavel</span>Legal Terms</a>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {{ dateNow }} Copyright:
      <a class="text-white link-github" href="https://github.com/pedrogonoring1/mestre-cuca-site">
        <img src="https://i.ibb.co/XZZ0xY5/github.png" alt="icon-github" class="icon-github">
        Pedro Gonoring
    </a>
    </div>
  </footer>
</section>
