<div class="container">
  <div class="row">
    <div class="col-12">
      <app-carousel-home class="d-none d-md-block"></app-carousel-home>
    </div>
  </div>
  <div class="row categorias">
    <div class="col-12 mt-5 titulo-informativo">
      <h4>Categorias de Receitas</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <app-carousel-categorias></app-carousel-categorias>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5 titulo-informativo d-flex">
      <span class="material-icons-outlined icon-hot-recipes ">
        local_fire_department
        </span><h4>Receitas em Alta</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
        <app-card-hot-recipes></app-card-hot-recipes>
    </div>
  </div>
</div>

